* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#abc {
    background-image: url("./glassesImage/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    min-height: 100vh;
}
.content h3 {
    text-align: center;
    padding: 40px;
    color: lightcyan;
    background-color: rgba(0,0,0,0.3);
}
.img1 {
    position: relative;
}
.glassesOnModel {
    width: 24%;
    top: 64px;
    left: 328px;
    opacity: .8;
}

.vglasses__info {
    width: 42.5%;
    top: 167px;
    left: 269px;
    padding-left: 15px;
    height: 12vh;
    background-color: rgba(255,125,0,.6);
    opacity: .8;
}
.vglasses__info h5 {
    color: #ab82ff;
    font-size: 18px;
}
.vglasses__info span{
    color: #fff;
    font-size: 14px;
}

.vglasses__info p {
    color: #fff;
    font-size: 11px;
    text-align: left;
}

.container {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.glassesList {
    position: absolute;
    top: 220px;
    background: #fff;
}

.glassesList .item img {
    width:80%;
    height: fit-content;
    cursor: pointer;
}


/* .glassesOnModel {
    animation: animationChangeGlasses 1s;
}

@keyframes animationChangeGlasses {
    from {
        width: 0;
    }
    to {
        width: 150px;
    }
} */